  /* ========================= */
  /*  Body */
  /* ========================= */

html,
body {
    width: 100%;
    height: 100%;
    background-color: #F6F6F6;
    color: navy;
}

hr {
    max-width: 250px;
    border-top: 1px solid #777;
}
hr.small {
    max-width: 100px;
}

p{
  font-family: 'Josefin Sans', sans-serif;
  text-align: justify;
  line-height: 1.8;
  font-size: 19px;
}

h1{
  font-family: 'Bree Serif', serif;
  display: inline-block;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.74);
}
h2{
  font-family: 'Pinyon Script', cursive;
  display: inline-block;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.74);
}
h3{
    font-family: 'Pinyon Script', cursive;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.74);
}

h4{
  font-family: 'Pinyon Script', cursive;
  font-size: 35px;
}

h5{
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  font-size: 28px;
}
h6{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 24px;
}
a{
  text-decoration: none;
  color: white;
}

a:hover{
  color: navy;
  border-bottom: solid 3px navy;
}

.hotels{
  text-decoration: underline;
  color: gray;
}

.hotels:hover{
  text-decoration: none;
}

.hotel_list{
  list-style-type: none;
  font-size: 20px;
}

.directions{
  font-size: 16px;
  line-height: 18px;
}

#centering{
  margin-left: auto;
  margin-right: auto;
  width: 20em;
  text-align:justify;
}

.about_list{
  font-size: 19px;
  padding-top: 20px;
  display: inline-block;
  text-align: justify;
}

#date{
  font-size: 22px;
  text-align: center;
}

#not_your_thing{
  padding-top: 50px;
  padding-bottom: 50px;
}

#tangible_stuff{
  text-align: left;
  padding-top: 40px;
}

#wrap{
  text-align: left;
}

#registry_one{
  padding-top: 20px;
  padding-bottom: 20px;
}

#registry_two{
  padding-top: 250px;
  padding-bottom: 20px;
}

#macys{
  padding-top: 40px;
}

  /* ========================= */
  /*  Headers */
  /* ========================= */

.about_header {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    background: url(../img/about_header-min.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.proposal_header {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    background: url(../img/proposal_header-min.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.wedding_header {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    background: url(../img/wedding_header-min.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.registry_header{
      display: table;
    position: relative;
    width: 100%;
    height: 100%;
    background: url(../img/thailand.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}


.guest_header{
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    background: url(../img/slider8-min.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.page_title {
    display: table-cell;
    text-align: center;
    vertical-align: bottom;
    color:white;
}

.page_title h1 {
    margin: 0;
    padding: 0;
    font-size: 4.5em;
    font-weight: 700;
}

  /* ========================= */
  /*  Navbar */
  /* ========================= */

.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
    background-image: url(../img/zigzag.png);
    line-height: 5px;
    background-color: #F6F6F6;
}

.navbar{
  background-color: transparent;
  background:transparent;
  border-color: transparent;

  /*padding: 0px 50px;*/
}

#nav.affix {
    position: fixed;
    top: 0;
    width: 100%;
    z-index:10;
}


  /* ========================= */
  /*  Footer */
  /* ========================= */
footer {
    padding-top: 100px;
    padding-bottom: 30px;
}

.footer_email{
  text-decoration: none;
  color: gray;
  font-size: 15px
}

.footer_email:hover{
  color: navy;
  text-decoration: none;
  border-bottom: solid 1px navy;
}

#footer_p{
  font-size: 15px;
}
